# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Nathan Kang (BCP)\OneDrive - Bellarmine College Preparatory\80 Programming Projects\AISnakes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
